<html>
<head>
  <title>Root</title>
</head>
<body style="text-align: center;">
  <form action="/url">
    blob: <input name="blob" type="text">
    url: <input name="url" type="text">
    <input type="submit">
<form>
</body>
</html>
